:root {
  /*
  --main-background-color: #232323;
  --main-font-color: rgba(255, 255, 255, 0.87);
  --script-bg-color: 232323
  */
  --main-background-color: #fff;
  --main-font-color: rgba(0, 0, 0, 0.87);
  --script-bg-color: rgb(250, 250, 250)
}

.btn-flat {
  color: var(--main-font-color)
}

body {
  background-color: var(--main-background-color);
  color: var(--main-font-color)
}

#script {
  background-color: var(--main-background-color)
}

.collection {
  border: 0
}

.collection .collection-item {
  background-color: var(--script-bg-color);
}

#searchWrapper,
#searchWrapper>i.material-icons {
  padding: 10px;
  border-radius: 5px;
}

.champWrapper {
  margin-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.champImg {
  margin-top: 10px;
  width: 120px;
  height: 120px;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

.role {
  margin-left: 20px;
}

a.secondary-content>i {
  color: gold;
}

#content {
  padding-top: 25px;
}

@keyframes pulse {
  0% {
    background-color: #2a2d31;
  }
  50% {
    background-color: #3868a9;
  }
  100% {
    background-color: #2a2d31;
  }
}

.sideView {
  min-height: 500px !important;
}

.nav-wrapper {
  animation: pulse 10s infinite;
}

.right {
  right: 0 !important;
}

#modalChampName {
  padding: 10px 0 0 10px;
  width: 100%;
}

.modal.bottom-sheet {
  max-height: 100%;
}

.modal .modal-content {
  width: 100%;
  padding: 0;
  margin: 0;
}

.rolePrefix {
  height: 50px;
}

.rolePrefix img {
  transform: translateY(-10px)
}

#modalChampImg {
  float: left;
  width: 308px;
  height: 560px;
}

.allFilter {
  font-size: 2rem !important;
  margin-bottom: 15px;
  padding-left: 40px !important;
}

.collapsible-body span {
  overflow: hidden;
  margin-left: 50px;
}

.fixed {
  position: initial
}

@media only screen and (min-width: 601px) {
  .fixed {
    position: fixed
  }
}